In [1]:
import pandas as pd 
import numpy as np

In [3]:
openalex_data = pd.read_csv("institution_papers_2021-01-01_to_2024-07-31.csv")
dimensions_data = pd.read_csv("ucsd_dimensions_2021-July2024.csv")

In [4]:
print(len(openalex_data))
print(len(dimensions_data))

53475
45321

In [5]:
for i in openalex_data.columns:
    print(f"{len(openalex_data[i].unique())} unique values for {i}")

53475 unique values for id
52848 unique values for doi
50837 unique values for title
50837 unique values for display_name
4 unique values for publication_year
1308 unique values for publication_date
53475 unique values for ids
19 unique values for language
53183 unique values for primary_location
17 unique values for type
17 unique values for type_crossref
24 unique values for indexed_in
35452 unique values for open_access
50004 unique values for authorships
36 unique values for institution_assertions
43 unique values for countries_distinct_count
153 unique values for institutions_distinct_count
17600 unique values for corresponding_author_ids
9135 unique values for corresponding_institution_ids
774 unique values for apc_list
843 unique values for apc_paid
6723 unique values for fwci
2 unique values for is_authors_truncated
2 unique values for has_fulltext
394 unique values for cited_by_count
3648 unique values for citation_normalized_percentile
54 unique values for cited_by_percentile_year
33611 unique values for biblio
2 unique values for is_retracted
2 unique values for is_paratext
28532 unique values for primary_topic
51860 unique values for topics
51947 unique values for keywords
53098 unique values for concepts
18212 unique values for mesh
36 unique values for locations_count
53183 unique values for locations
35775 unique values for best_oa_location
4450 unique values for sustainable_development_goals
13727 unique values for grants
286 unique values for datasets
973 unique values for versions
428 unique values for referenced_works_count
40973 unique values for referenced_works
43297 unique values for related_works
46408 unique values for abstract_inverted_index
53475 unique values for cited_by_api_url
7278 unique values for counts_by_year
53475 unique values for updated_date
985 unique values for created_date
2 unique values for fulltext_origin

In [6]:
for i in dimensions_data.columns:
    print(f"{len(dimensions_data[i].unique())} unique values for {i}")

43928 unique values for title
44297 unique values for authors
335 unique values for authors_count
3062 unique values for category_for
445 unique values for publisher
30937 unique values for research_org_names
28013 unique values for research_orgs
353 unique values for times_cited
6 unique values for type
4 unique values for year
6108 unique values for journal.id
6100 unique values for journal.title
15812 unique values for funders

In [ ]:
overlap = dimensions_data[dimensions_data['title'].isin(openalex_data['title'])]
print(f"{len(overlap)} out of {len(dimensions_data)} items in dimensions data are in openalex data")

36923 out of 45321 items in dimensions data are in openalex data

: